@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;700&family=Mulish:wght@600&display=swap");

@font-face {
    font-family: "icons";
    font-display: swap;
    src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html {
    font-size: 16px;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "'Lato', sans-serif";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "'Lato', sans-serif";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: inherit;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body {
    color: #000;
    font-size: 16px;
}

body._lock {
    overflow: hidden;
}

a {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

._container {
    max-width: 1460px;
    margin: 0 auto;
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0px 0px;
}

.btn._fw {
    width: 100%;
}

.select {
    position: relative;
}

.select__item {
    position: relative;
    height: 40px;
}

.select__title {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
}

.select__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.select__value span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.select__value:before {
    content: "";
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 11px;
    height: 7px;
    background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.select__options {
    color: #000;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 0px 5px 0px;
    margin-top: 5px;
    font-size: 20px;
}

.select__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
}

.select._active {
    z-index: 5;
}

.select._active .select__value:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.select._active .select__options {
    display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
    outline: none;
}

.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}

.checkbox {
    position: relative;
}

.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
    background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer;
}

.checkbox__text:before {
    content: "";
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0px 14px 0px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    left: 0;
    top: 0;
    width: 20px;
    height: 18px;
    background: #fff;
    border: 1px solid #a7a9ac;
}

.checkbox a {
    color: #fff;
    text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
    border: 1px solid #ee1212;
}

.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.options__item {
    position: relative;
    cursor: pointer;
}

.options__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden;
}

.options__input:checked + .options__text:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.options__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
}

.options__text:before {
    content: "";
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0px 14px 0px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 20px;
    height: 18px;
    background: #fff;
    border: 1px solid #a7a9ac;
}

.options__text:after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #77243a;
    position: absolute;
    left: 5px;
    top: 4px;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
    opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.rating__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}

.quantity {
    width: 88px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    position: relative;
    cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 0px 0px 0px -4.5px;
    background-color: #a6a6a6;
    width: 9px;
    height: 1px;
}

.quantity__button_plus::before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.quantity__input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.quantity__input input {
    height: 100%;
    color: #a6a6a6;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.title {
    font-family: "Lato", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 118.75%;
    color: #072F54;
}

.subTitle {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120.8333333333%;
    color: #072F54;
    margin-bottom: 15px;
}

.title-post {
    display: block;
    color: #072F54;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4615384615;
}

.text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 116.6666666667%;
    color: #072F54;
}

.button {
    padding: 0 32px;
    height: 56px;
    border-radius: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #072F54;
    -webkit-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
}

.button:active {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 767px) {
    .button:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.button-light {
    background: #ffffff;
}

.link {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    -webkit-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

.link:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 767px) {
    .link:hover {
        color: #FF6464;
    }
}

.button-link {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    white-space: nowrap;
    -webkit-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
}

.link-blue {
    color: #072F54;
}

.bg-zero {
    background-color: #ffffff !important;
}

.bg-zero :focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

._focus {
    background: #ffffff;
}

._hidden {
    display: none;
    opacity: 0;
}

.row:after {
    display: block;
    content: "";
    clear: both;
}

.rub:after {
    content: "₽";
}

ol.counter {
    list-style-type: none;
    counter-reset: item;
}

ol.counter li {
    position: relative;
    padding: 0px 0px 0px 45px;
}

ol.counter li:before {
    counter-increment: item;
    content: counter(item);
    position: absolute;
    left: 0;
    top: 0;
    color: #818181;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid #4274bb;
}

.ellipsis {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.es {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.table {
    display: table;
    font-size: 0;
    width: 100%;
}

.trow {
    display: table-row;
}

.cell {
    display: table-cell;
}

.cell.full {
    width: 100%;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

body.ie ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.ie ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

._video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

._more-content {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

._more-link {
    cursor: pointer;
}

._more-link span {
    font-style: normal;
}

._more-link span:first-child {
    display: block;
}

._more-link span:last-child {
    display: none;
}

._more-link._active span {
    font-style: normal;
}

._more-link._active span:first-child {
    display: none;
}

._more-link._active span:last-child {
    display: block;
}

._swiper {
    overflow: hidden;
}

._swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

._tabs-block {
    display: none;
}

._tabs-block._active {
    display: block;
}

.mirror {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.nicescroll-rails {
    z-index: 1000 !important;
}

._custom-scroll {
    position: fixed;
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    z-index: 1000;
}

._custom-scroll__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.popup {
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    padding: 30px 10px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: visibility 0.8s ease 0s;
    -o-transition: visibility 0.8s ease 0s;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
}

.popup::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s;
    -o-transition: opacity 0.8s ease 0s;
    transition: opacity 0.8s ease 0s;
}

.popup.show {
    visibility: visible;
    overflow: auto;
}

.popup.show::before {
    opacity: 1;
}

.popup.show .popup__body {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup._active {
    overflow: auto;
    visibility: visible;
}

.popup._active::before {
    opacity: 1;
}

.popup._active .popup__body {
    -webkit-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.popup__body {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 800px;
}

.popup__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 30;
    background: url("../img/icons/close.svg") 0 0 no-repeat;
}

._no-webp .header {
    background: url("../img/bg.png") 0 0 no-repeat;
}

.header {
    z-index: 100;
    background: url("../img/bg.png") 0 0 no-repeat;
    background-size: cover;
    padding: 30px 30px 108px;
}

.menu .icon-menu {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.menu .logo {
    display: inline-block;
}

.menu .menu__body {
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu .menu__body .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 10%;
    flex: 1 1 10%;
}

.menu .menu__body .left-elem {
    margin-left: 20px;
}

.menu .menu__body .menu__list {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 90%;
    flex: 1 1 90%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    justify-items: start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    gap: 5%;
}

.menu .menu__body .menu__list li :first-child {
    margin-right: auto;
}

.menu .menu__body .menu__list .sign {
    padding: 0 16px;
    background: #072F54;
}

.booking__pretext {
    padding: 72px 0;
}

.booking__pretext .booking__title {
    margin-bottom: 16px;
}

.booking__pretext .booking__text {
    margin-bottom: 32px;
}

.booking__pretext :last-child {
    margin-bottom: 0 !important;
}

.booking__form .form-container {
    padding: 24px 50px 34px;
    background: rgba(242, 242, 242, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 14px;
}

.booking__form .form-container .bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.booking__form .form-container .bar .labels {
    padding: 5px 0;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 16px;
    overflow: auto;
}

.booking__form .form-container .bar .labels label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    opacity: 0.5;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    white-space: nowrap;
}

.booking__form .form-container .bar .labels label:hover {
    color: #FF6464;
}

.booking__form .form-container .bar .labels label p {
    padding-left: 8px;
}

.booking__form .form-container .bar .labels ._active {
    opacity: 1;
    color: #FF6464;
}

.booking__form .form-container .bar .button {
    background: transparent;
    padding: 0;
}

.booking__form .form-container .bar .button a {
    font-size: 20px;
    font-weight: 600;
    color: #072F54;
}

.booking__form .form-container ._hidden {
    display: none;
}

.booking__form .form-container .form__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.booking__form .form-container .form__menu .form__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin: 16px 0;
    padding: 16px;
    height: 108px;
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.booking__form .form-container .form__menu .form__block:first-child {
    border-left: none;
    border-top: none;
    border-radius: 8px 0 0 8px;
}

.booking__form .form-container .form__menu .form__block:last-child {
    border-radius: 0 8px 8px 0;
}

.booking__form .form-container .form__menu .form__block .input__title {
    margin-bottom: 10px;
    opacity: 0.6;
}

.booking__form .form-container .form__menu .form__block input {
    background: inherit;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

.booking__form .form-container .form__menu .form__block input::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #292929;
    -webkit-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

.booking__form .form-container .form__menu .form__block input::-moz-placeholder {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #292929;
    -moz-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

.booking__form .form-container .form__menu .form__block input:-ms-input-placeholder {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #292929;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

.booking__form .form-container .form__menu .form__block input::-ms-input-placeholder {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #292929;
    -ms-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

.booking__form .form-container .form__menu .form__block input::placeholder {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #292929;
    -webkit-transition: color 0.4s linear;
    -o-transition: color 0.4s linear;
    transition: color 0.4s linear;
}

.booking__form .form-container .form__menu .form__block input:focus::-webkit-input-placeholder {
    color: transparent;
}

.booking__form .form-container .form__menu .form__block input:focus::-moz-placeholder {
    color: transparent;
}

.booking__form .form-container .form__menu .form__block input:focus:-ms-input-placeholder {
    color: transparent;
}

.booking__form .form-container .form__menu .form__block input:focus::-ms-input-placeholder {
    color: transparent;
}

.booking__form .form-container .form__menu .form__block input:focus::placeholder {
    color: transparent;
}

.booking__form .form-container .form__menu .form__block input :focus .form__block {
    background: #ffffff;
}

.booking__form .form-container .alert {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.booking__form .form-container .alert p {
    text-align: center;
    line-height: 1.5;
    color: #072F54;
    margin-left: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.booking__form .form-container .alert p .inserted-link {
    color: inherit;
    font-size: 18px;
    font-weight: 700;
}

.icon-menu {
    display: none;
}

.footer .logo {
    margin-bottom: 118px;
}

.footer .social__media .socials li {
    margin-bottom: 24px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.footer .social__media .socials li:last-child {
    margin-bottom: 0;
}

.footer .social__media .socials li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.footer .social__media .socials li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer .social__media .socials li a .socials__name {
    font-size: 24px;
    font-weight: 700;
    color: #072F54;
    margin-left: 10px;
}

.footer .footer__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [ 5 ];
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 60px 30px 30px;
}

.footer .footer__links .links__col:hover .links__title:before {
    opacity: 1 !important;
}

.footer .footer__links .links__col .links__title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #072F54;
    position: relative;
    margin-bottom: 32px;
}

.footer .footer__links .links__col .links__title:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    opacity: 0.5;
    bottom: -10px;
    left: 0;
    background: -o-linear-gradient(45deg, #ff6464, #56b5b8);
    background: linear-gradient(45deg, #ff6464, #56b5b8);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.footer .footer__links .links__col .links__menu li {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

@media (min-width: 767px) {
    .footer .footer__links .links__col .links__menu li:hover {
        -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
        transform: translateX(5px);
    }
}

.footer .footer__links .links__col .links__menu .links__link {
    margin-bottom: 16px;
    color: #407BFF;
}

.footer .copyright {
    padding: 72px 0;
    background: #ECF2FF;
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    color: #072F54;
}

.footer .copyright p {
    margin-bottom: 10px;
}

.help .help__container {
    padding: 50px 30px 100px;
}

.help .lng-help__title {
    margin-bottom: 32px;
    text-align: center;
}

.help .ways__to__help {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 450px));
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    gap: 20px;
}

.help .ways__to__help .way__card {
    padding: 24px;
    width: 100%;
    height: 208px;
    border-radius: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #ffffff;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    color: #072F54;
    position: relative;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -ms-grid-column-align: center;
    justify-self: center;
}

.help .ways__to__help .way__card:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 6px;
    border-radius: 6px;
    background: #FBC108;
    bottom: 16px;
    left: 25%;
    opacity: 0;
}

.help .ways__to__help .way__card:hover {
    background: #072F54;
    color: #ffffff;
}

.help .ways__to__help .way__card:hover:after {
    opacity: 1;
}

.help .ways__to__help .way__card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.help .ways__to__help .way__card .way__content :first-child {
    margin-bottom: 6px;
}

.help .ways__to__help .way__card .way__content .lng-way__title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.help .ways__to__help .way__card .way__content .lng-way__text {
    font-size: 18px;
    line-height: 122.2222222222%;
}

.cities .cities__container {
    padding: 50px 30px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.cities .cities__pretext .lng-cities__title {
    margin-bottom: 16px;
}

.cities .cities__pretext .lng-cities__text {
    margin-bottom: 32px;
}

.cities .cities__pretext :last-child {
    margin-bottom: 0 !important;
}

.cities .cities__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.cities .cities__items .cities__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 32%;
    flex: 1 1 32%;
    max-width: 227px;
    min-width: 210px;
    height: 291px;
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

@media (min-width: 767px) {


    .cities .cities__items .cities__item:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.cities .cities__items .cities__item .cities__item__img {
    width: 100%;
    height: 100%;
    position: relative;
}

.cities .cities__items .cities__item .cities__item__img .lng-cities__item__img__description {
    position: absolute;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    z-index: 2;
    top: 80%;
    left: 10%;
}

.trips .trips__container {
    padding: 50px 30px 100px;
}

.trips .trips__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
}

.trips .trips__items .trips__item {
    text-align: center;
    padding: 32px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 32%;
    flex: 1 1 32%;
    border-radius: 14px;
    -webkit-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

@media (min-width: 767px) {
    .trips .trips__items .trips__item:hover {
        -webkit-transform: scale(1, 1.1);
        -ms-transform: scale(1, 1.1);
        transform: scale(1, 1.1);
    }
}

.trips .trips__items .trips__item .trips__item__img img {
    max-width: 100%;
}

.trips .trips__items .trips__item .lng-trips__description {
    text-align: center;
}

.trips .trips__items .trips__item .lng-trips__description .lng-trips__description__title {
    color: #072F54;
    font-size: 36px;
    font-weight: 700;
    height: 100px;
}

.trips .trips__items .trips__item .lng-trips__description .lng-trips__description__text {
    color: #072F54;
}

.ideas {
    background: #ECF2FF;
}

.ideas .ideas__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px 30px 60px;
}

.ideas .lng-ideas__title {
    margin-bottom: 20px;
}

.ideas .ideas__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [ 4 ];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (228px) [ 2 ];
    grid-template-rows: repeat(2, 228px);
    gap: 10px;
    margin-bottom: 70px;
}

.ideas .ideas__items .long {
    -ms-grid-row-span: 2;
    grid-row: span 2;
    height: 468px !important;
}

.ideas .ideas__items .ideas__item {
    position: relative;
    max-width: 352px;
    min-width: 90%;
    height: 228px;
    padding: 10% 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    border-radius: 14px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

@media (min-width: 767px) {
    .ideas .ideas__items .ideas__item:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.ideas .ideas__items .ideas__item .bottom {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.ideas .ideas__items .ideas__item .ideas__item__description {
    max-width: 255px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ideas .ideas__items .ideas__item .ideas__item__description .description__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
}

.ideas .ideas__items .ideas__item .ideas__item__description .description__text {
    font-size: 18px;
}

.ideas .ideas__items .ideas__item i {
    margin-top: 15px;
    display: block;
    font-size: 40px;
}

._no-webp .ideas .ideas__items .beach {
    background: url("../img/ideas/01.png");
}

._no-webp .ideas .ideas__items .camping {
    background: url("../img/ideas/02.png");
}

._no-webp .ideas .ideas__items .family__trips {
    background: url("../img/ideas/03.png");
}

._no-webp .ideas .ideas__items .winter {
    background: url("../img/ideas/04.png");
}

._no-webp .ideas .ideas__items .cruising {
    background: url("../img/ideas/05.png");
}

._no-webp .ideas .ideas__items .castle {
    background: url("../img/ideas/06.png");
}

.ideas .ideas__button {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    background: transparent;
    border: 1px solid #072F54;
}

.ideas .ideas__button a {
    color: #072F54;
}

.ideas .ideas__button:active a {
    color: revert;
}

.phone-app .phone-app__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    padding: 40px 30px 40px;
    padding-left: 0;
}

._no-webp .phone-app .phone-app__app {
    background: url("../img/phone__app/phone_bg.png") no-repeat center;
}

.phone-app .phone-app__app {
    background-size: contain;
    text-align: center;
    width: 90%;
}

.phone-app .phone-app__app .phone-app__app__image {
    display: inline-block;
    position: relative;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.phone-app .phone-app__app .phone-app__app__image:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.phone-app .phone-app__app .phone-app__app__image img {
    max-width: 100%;
}

.phone-app .phone-app__download .phone-app__title {
    margin-bottom: 16px;
}

.phone-app .phone-app__download .phone-app__text {
    margin-bottom: 32px;
}

.phone-app .phone-app__download .phone-app__download__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -16px;
}

.phone-app .phone-app__download .phone-app__download__buttons .phone-app-link {
    padding: 0 16px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.phone-app .phone-app__download .phone-app__download__buttons .phone-app-link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.phone-app .phone-app__download .phone-app__download__buttons .phone-app-link img {
    max-width: 100%;
}

._no-webp .deals {
    background: url("../img/flight/flight_bg.png") 0 0 no-repeat;
}

.deals {
    background-size: cover;
}

.deals .deals__container {
    max-height: 468px;
    padding: 10% 30px 10%;
}

.deals .deals__pretext {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.deals .deals__pretext .deals__pretext__title {
    color: #ffffff;
    margin-bottom: 16px;
}

.deals .deals__pretext .deals__pretext__text {
    color: #ffffff;
    margin-bottom: 32px;
}

.deals .deals__pretext .button.button-light .button-link {
    color: #072F54;
}

.page {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 90px 0 0 0;
}

@media (min-width: 767.98px) {
    .footer .social__media {
        -ms-grid-row-span: 3;
        grid-row: span 3;
    }
}

@media (min-width: 991.98px) {
    .quantity__button:hover::before,
    .quantity__button:hover::after {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 992px) {
    .select__option:hover {
        background: #d9d9d9;
    }

    .checkbox a:hover {
        text-decoration: none;
    }
}

@media (max-width: 1472px) {
    .page {
        padding: 45px 0 0 0;
    }
}

@media (max-width: 1200px) {
    .cities .cities__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 40px;
    }

    .cities .cities__pretext {
        text-align: center;
    }

    .ideas .ideas__items .ideas__item .ideas__item__description .description__title {
        font-size: 26px;
    }

    .phone-app .phone-app__download {
        text-align: center;
    }

    .phone-app .phone-app__download .phone-app__download__buttons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 991.98px) {
    .select__title {
        font-size: 18px;
    }

    .select__options {
        font-size: 18px;
    }

    .text {
        font-size: 16px;
        line-height: 1.1;
    }

    .menu .menu__body .dropdown img {
        display: none;
    }

    .booking__form .form-container {
        padding: 16px 32px;
    }

    .booking__form .form-container .bar {
        display: block;
        text-align: center;
    }

    .booking__form .form-container .bar .labels {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .booking__form .form-container .bar .button {
        height: 44px;
    }

    .booking__form .form-container .form__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .booking__form .form-container .form__menu .form__block {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        border-left: none;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        margin: 8px 0;
    }

    .booking__form .form-container .form__menu .form__block:first-child {
        border-radius: 8px 8px 8px 8px;
    }

    .footer .footer__links {
        -ms-grid-columns: (1fr) [ 3 ];
        grid-template-columns: repeat(3, 1fr);
    }

    .trips .trips__items .trips__item .lng-trips__description .lng-trips__description__title {
        font-size: 20px;
        height: 40px;
    }

    .ideas .ideas__items {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .ideas .ideas__items .ideas__item {
        padding: 4% !important;
        max-width: none !important;
    }
}

@media (max-width: 767.98px) {
    .title {
        font-size: 32px;
    }

    .subTitle {
        font-size: 30px;
        text-align: center;
    }

    .title-post {
        font-size: 22px;
    }

    .link {
        font-size: 30px;
    }

    .menu {
        float: right;
    }

    .menu .logo {
        display: none;
    }

    .menu .menu__body {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        padding: 60px 10px 30px;
        background: rgba(49, 184, 174, 0.45);
        -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
        transform: translate(0px, -100%);
        -webkit-transition: -webkit-transform 0.4s linear;
        transition: -webkit-transform 0.4s linear;
        -o-transition: transform 0.4s linear;
        transition: transform 0.4s linear;
        transition: transform 0.4s linear, -webkit-transform 0.4s linear;
    }

    .menu .menu__body._active {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .menu .menu__body .left-elem {
        display: none;
    }

    .menu .menu__body .menu__list {
        grid-auto-flow: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }

    .menu .menu__body .menu__list li {
        margin-bottom: 20px;
        text-align: center;
    }

    .booking__pretext {
        text-align: center;
    }

    .icon-menu {
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }

    .icon-menu span {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    .icon-menu span:first-child {
        top: 0px;
    }

    .icon-menu span:last-child {
        top: auto;
        bottom: 0px;
    }

    .icon-menu._active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .icon-menu._active span:first-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: calc(50% - 1px);
    }

    .icon-menu._active span:last-child {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
    }

    .footer .logo {
        margin-bottom: 30px;
    }

    .footer .footer__links {
        -ms-grid-columns: (1fr) [ 2 ];
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    .help .help__container {
        padding: 20px 30px 100px;
    }

    .cities .cities__container {
        padding: 20px 30px 60px;
    }

    .cities .cities__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cities .cities__items .cities__item {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        max-width: none;
        min-width: 60%;
        min-height: 300px;
    }

    .cities .cities__items .cities__item .cities__item__img .lng-cities__item__img__description {
        top: 75%;
    }

    .trips .trips__container {
        padding: 20px 30px 60px;
    }

    .trips .trips__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .trips .trips__items .trips__item {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }

    .ideas .ideas__container {
        padding: 20px 30px 60px;
    }

    .phone-app .phone-app__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .deals .deals__container {
        text-align: center;
    }
}

@media (max-width: 767.98px) and (max-width: 650px) {
    .help .help__container {
        padding: 20px 2% 100px;
    }

    .cities .cities__container {
        padding: 20px 2% 60px;
    }

    .trips .trips__container {
        padding: 20px 2% 60px;
    }

    .ideas .ideas__container {
        padding: 20px 2% 60px;
    }
}

@media (max-width: 650px) {
    .subTitle {
        font-size: 26px;
    }

    .header {
        padding: 30px 2% 108px;
    }

    .booking__form .form-container .alert i {
        display: none;
    }

    .footer .footer__links {
        padding: 60px 2% 30px;
    }

    .help .help__container {
        padding: 50px 2% 100px;
    }

    .help .ways__to__help .way__card .way__content .lng-way__title {
        font-size: 20px;
    }

    .cities .cities__container {
        padding: 50px 2% 60px;
    }

    .cities .cities__items .cities__item .cities__item__img .lng-cities__item__img__description {
        font-size: 20px;
    }

    .trips .trips__container {
        padding: 50px 2% 100px;
    }

    .ideas .ideas__container {
        padding: 50px 2% 60px;
    }

    .ideas .ideas__items {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .ideas .ideas__items .ideas__item {
        max-width: 400px !important;
    }

    .phone-app .phone-app__container {
        padding: 40px 2% 40px;
    }

    .deals .deals__container {
        padding: 10% 2% 10%;
    }
}

@media (max-width: 479.98px) {
    .footer .footer__links {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding-top: 30px;
    }
}

._webp .header {
    background: url(../img/bg.webp) 0 0 no-repeat;
}

._webp .ideas .ideas__items .beach {
    background: url(../img/ideas/01.webp);
}

._webp .ideas .ideas__items .camping {
    background: url(../img/ideas/02.webp);
}

._webp .ideas .ideas__items .family__trips {
    background: url(../img/ideas/03.webp);
}

._webp .ideas .ideas__items .winter {
    background: url(../img/ideas/04.webp);
}

._webp .ideas .ideas__items .cruising {
    background: url(../img/ideas/05.webp);
}

._webp .ideas .ideas__items .castle {
    background: url(../img/ideas/06.webp);
}

._webp .phone-app .phone-app__app {
    background: url(../img/phone__app/phone_bg.webp) no-repeat center;
}

._webp .deals {
    background: url(../img/flight/flight_bg.webp) 0 0 no-repeat;
}

